.header {
  width: 100%;
  @include flexBox(space-between, center);
  padding: 35px 50px;
  position: fixed;
  z-index: 999;
  &-right {
    ul {
      @include flexBox(center, center);

      li {
        &:not(:last-child) {
          margin-right: 46px;
        }
        a {
          @include fontSize(18px, 500, 22px, $colorWhite);
        }
      }
    }
  }
}
