.home_page {
  section {
    position: relative;
    .paralax-box {
      //   right: 100px;
      height: 100vh;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // width: 100%;
        // top: 200px;
        z-index: -111;
        // transform: scale(1.2);
        // &:nth-child(2) {
        //   right: -20%;
        // }
      }
    }
    .content {
      @include positionElementLeftTop(50%, 50%);
      transform: translate(-50%, -50%);
      @include flexBox(center, center);
      flex-direction: column;
    }
    h1 {
      @include fontSize(42px, 800, 51px, #000);
      width: 80%;
      text-align: center;
    }
  }
}
